<%- include('../partials/header.ejs') %>

<main>
  <h1>Inventory</h1>
  <div class="inventory-grid">
    <% cars.forEach((car) => { %>
      <div class="inventory-item">
        <img src="/<%= car.image %>" alt="<%= car.make %> <%= car.model %>">
        <h2><%= car.make %> <%= car.model %> (<%= car.year %>)</h2>
        <a href="/cars/<%= car._id %>">Details</a>
      </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer.ejs') %>
