<%- include('../partials/header.ejs') %>

<h1>Inventory</h1>
<% if (cars.length) { %>
      <% cars.forEach((car) => { %>
      <div>
        <a href="/cars/<%= car._id %>">
            <img src="/<%= car.image %>" alt="image of a <%= car.color %> <%= car.year %> <%= car.make %> <%= car.model %>" width="400">
            <p><%= car.color %> <%= car.year %> <%= car.make %> <%= car.model %></p>
        </a>
      </div>
      <% }) %>
  <% } else { %>
    <p>You have not created any cars yet.</p>
  <% } %>

<%- include('../partials/footer.ejs') %>
