<%- include('../partials/header.ejs') %>

<main class="car-view">
  <div class="car-details">
    <img src="/<%= car.image %>" alt="<%= car.year %> <%= car.color %> <%= car.make %> <%= car.model %>" />
    <div class="extended-details">
      <h2>Vehicle Details:</h2>
      <ul>
        <li><strong>Make:</strong> <%= car.make %></li>
        <li><strong>Model:</strong> <%= car.model %></li>
        <li><strong>Year:</strong> <%= car.year %></li>
        <li><strong>Color:</strong> <%= car.color %></li>
        <li><strong>Price:</strong> <%= car.price %></li>
        <li><strong>Mileage:</strong> <%= car.mileage %></li>
        <li><strong>Added By:</strong> <%= car.addedBy.email %></li>
      </ul>
      <% if (user) { %>
      <div class="car-actions">
        <a href="/cars/<%= car._id %>/edit" class="btn">Edit Vehicle</a>
        <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn">Delete Vehicle</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer.ejs') %>
